# Database settings
DB_NAME=bequer_db
DB_USER=bequer_user
DB_PASSWORD=your_secure_database_password_here

# Django settings
SECRET_KEY=generate_a_secure_random_key_here
DEBUG=False
FRONTEND_URL=https://thebequer.tech

# Paypart Payment API
PAYPART_TOKEN=your_paypart_token_here
